@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeRedToGreen {
  from {
    background-color: #a15d5f;
  }
  to {
    background-color: #34756f;
  }
}

@keyframes fadeGreenToRed {
  from {
    background-color: #34756f;
  }
  to {
    background-color: #a15d5f;
  }
}

@keyframes fadeGreenToTransparent {
  from {
    background-color: #34756f;
  }
  to {
    background-color: rgba(0, 0, 0, 0);
  }
}

@keyframes fadeRedToTransparent {
  from {
    background-color: #a15d5f;
  }
  to {
    background-color: rgba(0, 0, 0, 0);
  }
}

@keyframes fadeTransparentToRed {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: #a15d5f;
  }
}

@keyframes fadeTransparentToGreen {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: #34756f;
  }
}
