@font-face {
  font-family: 'Savoye LET';
  src: url('/font/SavoyeLetPlain.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
/* 
@font-face {
  font-family: 'Avenir LT Std';
  src: url('/font/AvenirLTStd-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
} */

@font-face {
  font-family: 'Avenir LT Std';
  src: url('/font/AvenirLTStd-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
